{% extends './index.html' %}
{% block content %}

<h2>Cosas importantes</h2>
<p>
    Bienvenido a esta aplicación web, aquí podrás administrar la forma de tus exámenes, 
    sus preguntas, las categorías de dichas preguntas, y su notación. Esta esta está dividida 
    en tres partes visibles en la barra de navegación. Si las usas podrás acceder a una 
    sección con las opciones de listar, crear, consultar, modificar y eliminar.
</p>
<img class="imagen" src="https://media.tenor.com/_I_eFe3Vj84AAAAC/mr-bean-medical-student.gif" alt="él">
<button type="button" onclick="mostrar_mensaje('{{ texto }}')">Mostrar mensaje</button>

{% endblock %}