{% extends '././index.html' %}
{% block content %}

<h2 class="centro">{% block title %}Exámenes{% endblock %}</h2>
<a href="{{ url_for('crear_examen') }}">¿No encuentras un examen? ¡Créalo!</a>
<table>
    <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Puntaje</th>
        <th>Hojas</th>
        <th>Fecha de creacion</th>
        <th>Opciones</th>
    </tr>
    {% for examen in lista %}
    <tr>
        <td>{{ examen['id'] }}</td>
        <td>{{ examen['nombre'] }}</td>
        <td>{{ examen['puntaje_total'] }}</td>
        <td>{{ examen['cantidad_hojas'] }}</td>
        <td>{{ examen['fecha_creacion'] }}</td>
        <td>
            <a href="{{ url_for('consultar_examen', id=examen['id']) }}">
                <img class="pequeño" src="{{ url_for('static', filename='consultar.png') }}" alt="Consultar">
            </a>
            <a href="{{ url_for('eliminar_examen', id=examen['id']) }}">
                <img class="pequeño" src="{{ url_for('static', filename='eliminar.png') }}" alt="Eliminar">
            </a>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}