<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>{% block title %}Aplicación de notas{% endblock %}</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="{{ url_for('listar_categorias') }}">Categorias</a>
                </li>
                <li>
                    <a href="{{ url_for('listar_preguntas') }}">Preguntas</a>
                </li>
                <li>
                    <a href="{{ url_for('listar_examenes') }}">Exámenes</a>
                </li>
            </ul>
        </nav>
    </header>
    {% for mensaje in get_flashed_messages() %}
    <p style="color: red;">{{ mensaje }}</p>
    {% endfor %}
    <section class="contenido">
        {% block content %}
        {% endblock %}
    </section>
</body>
</html>