<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
    <!-- CSS Reset -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
    <!-- Milligram CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">
    <!-- You should properly set the path from the main file. -->
    <link href="//cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@4/dark.css" rel="stylesheet">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.js"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='weird.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='index.js') }}" defer></script>
    <title>{% block title %}Aplicación de notas{% endblock %}</title>
</head>
<body>
    <header>
        <a href="{{ url_for('iniciar') }}">
            <h1>Administrador y generador de exámenes</h1>
            <img src="https://media.tenor.com/_I_eFe3Vj84AAAAC/mr-bean-medical-student.gif" alt="él">
        </a>
    </header>
    <nav>
        <ul>
            <li>
                <a href="{{ url_for('listar_categorias') }}">Categorias</a>
            </li>
            <li>
                <a href="{{ url_for('listar_preguntas') }}">Preguntas</a>
            </li>
            <li>
                <a href="{{ url_for('listar_examenes') }}">Exámenes</a>
            </li>
        </ul>
    </nav>
    {% for mensaje in get_flashed_messages() %}
    <p style="color: red;">{{ mensaje }}</p>
    {% endfor %}
    <main class="contenido">
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>